.header-container {
  display: flex;
  justify-content: center
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 830px;
  height: 100px;
  padding-bottom: 10px;
  border-bottom: 3px solid #008080;
  color: #008080;
}

.logo__word {
  font-size: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo__search {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  height: 60px;
}



.new {
  display: flex;
  justify-content: center;
  color: #484844;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  padding-right: 10px;
  padding: 5px;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
}
.new:hover {
  background-color: #484844;
  color: #F6F6F6;
}

.new__text {
  padding-top: 5px;
  padding-left: 4px;
}
