@media (max-width: 768px) {
  .new-container {
    display: none;
  }
  .header-content {
    width: 90%;
  }

  .logo__word {
    font-size: 30px;
  }
  .logo__search {
    font-size: 40px;
  }

  .grid-column {
    width: 7vw;
    height: 5vh;
    font-size: 1.1rem;
  }

  .theme {
    width: 90%;
  }

  .words {
    display: none;
  }
}
