@media (max-width: 768px) {
  .new-container {
    display: none;
  }
  .header-content, 
  .theme {
    width: 95%;
  }

  .logo__word {
    font-size: 30px;
  }

  .logo__search {
    font-size: 40px;
  }

  .grid-column {
    width: 7.4vw;
    height: 5vh;
    font-size: 1.1rem;
  }


  .words {
    display: none;
  }
}
